# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VSCode
.vscode/*
!.vscode/extensions.json
!*.code-workspace

# OS content
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# MATLAB / Simulink
slprj/
*.slxc
*.mex*
*.asv
*.autosave
codegen/
*.cache
work/
html/
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# CircuitPython
*.mpy
.fseventsd/
.Spotlight-V100/
.Trashes/
CIRCUITPY/
boot_out.txt